* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;    
}

.light-mode {
    background-color: #ECFDF5;
    color: #2B283A;

    #top-h1 {
        color:#2B283A
    }

    #bottom-h1 {
        color: #10B981;
    }

    #p-text {
        color: #6B7280;
    }

    #password-length {
        color: #2B283A;
    }

    .line-break {
        background-color: #D5D4D8;
    }
    
    #password-container input {
            color: #5def92;
        }

}

#dark-light-mode {
    margin: 3rem auto;
    display: block;
    
}

#header-section {
    margin: 0 0 4rem 0;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

#top-h1 {
    margin: 0;
}

#bottom-h1 {
    margin: 0 0 10px 0;
    color: #4ADF86;
}

#p-text {
    color: #D5D4D8;
    font-size: 1.25rem;
    margin: 0 0 2rem 0;
    font-family: 'Inter', sans-serif;
}

#password-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-weight: 500;
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#password-length {
    font-size: 1rem;
    color: #D5D4D8;
    margin-left: 2rem;
}

label {
    margin-right: 6px;
}

input {
    font-size: 1rem;
    background-color: #273549;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
}

#password-length input {
    margin-bottom: 2rem;
}

.line-break {
    height: 1px;
    background-color: #2F3E53;
    border: none;
}

#password-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    input {
        color: #55f991;
        font-weight: 600;;
    }
}

.password-output {
    margin-top: 2rem;
}

button:focus, input:focus {
    outline: 2px solid #4ADF86;  /* Clear focus outline for better visibility */
}